In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,hobart,AU,2021-12-27 00:09:25,-42.8794,147.3294,64.06,47,75,1.01
1,1,busselton,AU,2021-12-27 00:09:26,-33.6500,115.3333,83.05,43,94,12.08
2,2,albany,US,2021-12-27 00:06:33,42.6001,-73.9662,37.09,78,40,3.00
3,3,constitucion,CL,2021-12-27 00:09:26,-35.3333,-72.4167,60.73,76,100,7.52
4,4,dzaoudzi,YT,2021-12-27 00:09:27,-12.7887,45.2699,80.49,83,40,2.30

In [3]:
# Check data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Eliminate negative temperatures, Google heatmaps do not plot negative numbers
temps = []
for temp in max_temp:
    temps.append(max(temp,0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Using list comprehension

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Get Vacation Criteria

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,busselton,AU,2021-12-27 00:09:26,-33.6500,115.3333,83.05,43,94,12.08
4,4,dzaoudzi,YT,2021-12-27 00:09:27,-12.7887,45.2699,80.49,83,40,2.30
8,8,mahebourg,MU,2021-12-27 00:09:28,-20.4081,57.7000,76.24,82,40,10.00
9,9,hithadhoo,MV,2021-12-27 00:09:28,-0.6000,73.0833,81.61,67,34,11.41
10,10,butaritari,KI,2021-12-27 00:09:29,3.0707,172.7902,82.29,73,60,11.74
13,13,hilo,US,2021-12-27 00:08:59,19.7297,-155.0900,78.53,58,40,11.50
15,15,georgetown,MY,2021-12-27 00:08:51,5.4112,100.3354,78.89,84,20,8.05
21,21,carnarvon,AU,2021-12-27 00:09:33,-24.8667,113.6333,77.07,83,93,13.80
23,23,vao,NC,2021-12-27 00:09:34,-22.6667,167.4833,77.63,77,60,5.97
25,25,bathsheba,BB,2021-12-27 00:09:35,13.2167,-59.5167,75.81,73,20,9.22

In [21]:
preferred_cities_df.count()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

In [22]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [23]:
preferred_cities_df.notnull().sum()

City_ID       132
City          132
Country       132
Date          132
Lat           132
Lng           132
Max Temp      132
Humidity      132
Cloudiness    132
Wind Speed    132
dtype: int64

#### Get Travel Destinations

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1    busselton      AU     83.05 -33.6500  115.3333
4     dzaoudzi      YT     80.49 -12.7887   45.2699
8    mahebourg      MU     76.24 -20.4081   57.7000
9    hithadhoo      MV     81.61  -0.6000   73.0833
10  butaritari      KI     82.29   3.0707  172.7902
13        hilo      US     78.53  19.7297 -155.0900
15  georgetown      MY     78.89   5.4112  100.3354
21   carnarvon      AU     77.07 -24.8667  113.6333
23         vao      NC     77.63 -22.6667  167.4833
25   bathsheba      BB     75.81  13.2167  -59.5167

In [28]:
# Import modules
import requests

In [29]:
# Set parameters
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]        
    except (IndexError):
        print("Hotel not found... Skipping.")

Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.
Hotel not found... Skipping.

In [30]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,busselton,AU,83.05,-33.6500,115.3333,Observatory Guest House
4,dzaoudzi,YT,80.49,-12.7887,45.2699,Le Rocher
8,mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
9,hithadhoo,MV,81.61,-0.6000,73.0833,Scoop Guest House
10,butaritari,KI,82.29,3.0707,172.7902,Isles Sunset Lodge
13,hilo,US,78.53,19.7297,-155.0900,Hilo Hawaiian Hotel
15,georgetown,MY,78.89,5.4112,100.3354,Cititel Penang
21,carnarvon,AU,77.07,-24.8667,113.6333,Hospitality Carnarvon
23,vao,NC,77.63,-22.6667,167.4833,Hotel Kou-Bugny
25,bathsheba,BB,75.81,13.2167,-59.5167,Atlantis Hotel

#### Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [31]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Add Markers

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

#### Add pop-up Marker

In [35]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

# Add pop-up Marker
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))